# =========================
# GLOBAL IGNORE (Frontend e Backend)
# =========================

# Node.js (React)
frontend/node_modules/
frontend/build/
frontend/.env

# ASP.NET
backend/bin/
backend/obj/
backend/*.user
backend/*.vspscc
backend/*.vssscc

# Visual Studio / VS Code
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.env