.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F7F7F7;
  box-shadow: inset 0 -250px #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto 200px auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.title-bg {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 1200px;
  padding-top: 60px;
}

.title-bg p {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #61616B;
}

.title-bg h1 {
  color: #000000;
  font-size: 50px;
  font-weight: 600;
}

.title-bg h1 span {
  color: #104D58;
}

.container-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-data {
  padding: 20px 40px 60px 60px;
  color: #F7F7F7;
  border-radius: 10px 0px 0px 10px;
  background-color: #104D58;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.contact-data h2 {
  margin: 60px 0px;
  padding-left: 10px;
}

.contact-address p {
  margin-bottom: 15px;
}

.contact-address {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url('../../assets/location_.svg') no-repeat 0px 3px;
  background-size: 18px 18px; 
  line-height: 24px;
}

address a {
  display: block;
  max-width: max-content;
  color: #F7F7F7;
  margin-bottom: 8px;
  padding-left: 28px;
  transition: transform 0.2s, color 0.2s;
}

address a:first-child {
  background: url("../../assets/envelope.svg") no-repeat 0px 12px;
  background-size: 18px 18px; 
}

address a:nth-child(3) {
  background: url("../../assets/phone.svg") no-repeat 0px 10px;
  background-size: 18px 18px;  
  margin-bottom: 60px;
}

address a:hover{
  transform: translateY(-3px);
  color: #4592A3;
}

.contact-form {
  padding: 60px;
  color: #104D58;
  border-radius: 0px 10px 10px 0px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form div label {
  display: block;
  font: 400 1rem/1.5 Poppins,sans-serif;
  margin-bottom: 4px;
}

.form input[type=text],.form input[type=email], .form div textarea {
  font: 400 1rem / 1.5 Roboto, sans-serif;
  background-color: #f5f5f5;
  border: 1px solid #ededed;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.email-field ,
.message-field {
  grid-column: span 2;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    outline: none;
    border-color: #104D58;
    background: #FFFFFF;
    box-shadow: 0 0 0 2px #F7F7F7;
}

.btnEnviarMensagem{
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 20px;
  color: #FFFFFF;
  cursor: pointer;
  width: 190px;
  background-color: #104D58;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btnEnviarMensagem:hover {
  transform: scale(1.02);
}
