.plans {
  display: flex;
  justify-content: center;
  padding-top: 190px;
  padding-bottom: 200px;
  background-color: #F7F7F7;
}

.plans-contents{
  display: flex;
  flex-direction: column;
}

.plans-text-medium {
  width: 80px;
  margin-bottom: 30px;
  padding: 6px 10px;
  border-radius: 10px;
  color: #104D58;
  font-size: 17px;
  font-weight: 600;
  background-color: #F1FAFC;
}

.plans-text-large {
  font-size: 30px;
  font-weight: 600;
  margin-left: 8px;
}

.plans-text-large span {
  color: #104D58;
}

.plans-contents-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 300px;
  gap: 20px;
}

.plans-item-grid,
.plans-item-grid-pro {
  margin-top: 100px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plans-item-grid:hover,
.plans-item-grid-pro:hover{
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.plans-item-grid-pro {
  margin-top: 0px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #104D58;
}

.plans-item-essential, 
.plans-item-pro{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 30px 0px;
}

.plans-item-essential h3,
.plans-item-pro h3{
  font-size: 28px;
  font-weight: 600;
  background-color: #F1FAFC;
  padding: 18px 13px;
  border-radius: 10px;
  margin-bottom: 17px;
  color: #104D58;
}

.plans-item-pro h3 {
  margin-right: 30px;
}

.plans-item-essential p{
  font-size: 28px;
  font-weight: 600;
  color: #000000;
}

.plans-item-essential-span {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #9C9C9C;
} 

.plans-item-grid li,
.plans-item-grid-pro li {
  font-size: 18px;
  font-weight: 500;
  color: #104D58;
  margin-bottom: 20px;
}

.plans-item-grid-pro li {
  color: #FFFFFF;
}

.plans-item-grid li::before,
.plans-item-grid-pro li::before{
  content: '\2714';
  color: #104D58;
  margin-right: 8px;
}

.plans-item-grid-pro li::before{
  color: #FFFFFF;
}

.plans-item-pro-price span{
  font-size: 12px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #9C9C9C;
}

.plans-item-pro-price p{
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
}

.plans-item-pro-price p span {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.plans-item-grid-pro ul{
  display: flex;
  margin-bottom: 10px;
  gap: 30px;
}

.btnExperimentePlano{
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  color: var(--white-color);
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  margin: 60px 10px 40px 10px;
  z-index: 1;
  transition: color 0.5s ease;
  background: linear-gradient(to right, #104D58, #2E7D8E);
}

.btnExperimentePlano::before {
  content: "";
  position: absolute;
  left: 6%;
  top: 0;
  width: 0%;
  height: 100%;
  background:linear-gradient(to right, #104D58, #104D58);
  z-index: 0;
  transition: width 0.45s ease;
}

.btnExperimentePlano:hover::before {
  width: 94%;
}

.btnExperimentePlano span{
  position: relative;
  z-index: 1;
}

.btnExperimentePlanoPro{
  display: block;
  width: 200px;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 20px;
  border: none;
  background-color: #F1FAFC;
  border-radius: 10px;
  margin-left: 10px;
  color: #104D58;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnExperimentePlanoPro:hover{
  transform: scale(1.02);
} 
