.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  height: 100%;
  width: 100%;
  background-color: #104D58;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin: 120px 60px 30px 60px;
  width: 100%;
  gap: 170px;
}

.contact-content h3,
.information-content h3{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}

.contacts {
  display: flex;
  gap: 60px;
}

.contact-01 hr,
.contact-02 hr {
  margin: 20px 0px;
}

.contact-01 p,
.contact-02 p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
}

.information-links {
  display: flex;
  flex-direction: column;
}

.information-links ul li {
  margin-bottom: 10px;
}

.information-links li a {
  padding-left: 0px;
}

.information-links span,
.information-links ul li a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.information-links span:hover,
.information-links ul li a:hover {
  transform: translateY(-3px);
  color: #4592A3;
}


.social-media-content {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.social-media-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #F1FAFC;
}

.social-media-content div{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-media-content div:hover {
  transform: translateY(-10px);
}

.dividing-line {
  color: #F1FAFC;
  margin: 30px 0px;
  width: 100%;
}

.footer p {
  color: #F1FAFC;
  margin-bottom: 30px;
}

@media (max-width: 2000px) {
  .footer-content {
    width: 95%;
  }
}

@media (max-width: 1400px) {
  .footer-content {
    margin-left: 100px;
    margin-right: 90px;
  }
}