.register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-contents {
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  background-color: #FFFFFF;
  width: 600px;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-register h2{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: #104D58;
  font-weight: 600;
  font-size: 30px;
}

.form-register-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-register-grid label {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  color: #104D58;
}

.form-register-grid input {
  font: 400 1rem / 1.5 Roboto, sans-serif;
  background-color: #FFFFFF;
  border: 1px solid #ededed;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  width: 400px;
}